<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Socar Polymer">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="">
    <link rel="apple-touch-icon" href="~/img/">

    <meta name="theme-color" content="#FFFFFF">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    @RenderSection("Styles", false)
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    @RenderSection("Scripts", false)
    <script src="~/js/site.js"></script>
</body>
</html>